{% for card in cards %}
    <div class="card">
        <img class="lazy" src="placeholders/{{ card.getCardType().value }}.png" data-src="{{ card.getFullUri() }}"
             alt="{{ card.getGeneratedName() }}"/>
    </div>
{% endfor %}